<div class="container">
    <div class="row">
        <div class="span12">
            <example id="ex1" editor-wrap="true" doc-link="#/docs?link=pdfJS.doc.html" editor-theme="'ace/theme/xcode'" editor-mode="'ace/mode/javascript'" title="Create A Simple PDF"
                editor-id="'editor1'">
                    <div class="row">
                        <div class="span7">
                     <div id="editor1" >
    //Create a new pdf document with 'letter' papersize.
    var doc = new pdfJS.doc('letter', 'portrait');
    
    //Add New Page
    var p = doc.addPage();

    //Origin is located at lower left corner.
    p.translate(160, 700);
    p.beginText();
    p.fontSize(50);
    p.print('Hello World!');
    p.endText();
    
    p.beginText();
    p.fontSize(20);
    p.textPosition(200, -30);
    p.print('pdfJS by iNeedFat :)');
    p.endText();
                    </div>
                    <h4>Note</h4>
                    <p>This example explores basic translation and text manipulation.</p>
                   </div>
                    <iframe class="span5" src="./views/exampleview.html"></iframe>
                        </div>
                </example>

            <example id="Example1" editor-wrap="true" doc-link="#/docs?link=pdfJS.graphicOperators.html" editor-theme="'ace/theme/xcode'" editor-mode="'ace/mode/javascript'" title="Drawing Rects"
                editor-id="'editor2'">
                    <div class="row">
                        <div class="span7">
                     <div id="editor2" >
    var doc = new pdfJS.doc('letter', 'portrait');
    var p = doc.addPage();
    
    var drawRect = function (x, y, f, s) {
        p.rect(x, y, 100, 100);
        p.fillColor(f);
        p.strokeColor(s);
        p.paintPath();
    };
    
    p.translate(160, 400);
    drawRect(50, 50, 1, 0.5);
    drawRect(75, 75, 0, 0.5);
    p.beginText();
    p.fontSize(22);
    p.print('Pretty Cool Huh?');
    p.endText();
                    </div>
                    <h4>Note</h4>
                    <p>Here shows a basic <code>rect</code> operator that draws a rectangular path by
                         specifying the x-coord, y-coord, width, and height. Drawing the path
                         alone will not actually render anything on the page. We must
                         first specify the stroke and fill color and then finally paint the path
                        by using the <code>paintPath</code> operator. Also note that in this example, we
                        are using the grayscale color space by only specifying one color value to
                         <code>fillColor</code> and <code>strokeColor</code>.
                    </p>
                            </div>
                    <iframe class="span5" src="./views/exampleview.html"></iframe>
                        </div>
                </example>

            <example id="Example2" editor-wrap="true" doc-link="#/docs?link=pdfJS.graphicOperators.html" editor-theme="'ace/theme/xcode'" editor-mode="'ace/mode/javascript'" title="Push and Pop Graphic State"
                     editor-id="'editor3'">
                <div class="row">
                    <div class="span7">
                        <div id="editor3" >
    var doc = new pdfJS.doc('letter', 'portrait');
    
    var p = doc.addPage();
    
    var drawRect = function (x, y, f, s) {
        p.pushState();
        p.translate(x, y);
        p.fillColor(f);
        p.rect(0, 0, 90, 90);
        p.lineWidth(3);
        p.strokeColor(s);
        p.paintPath();
        p.popState();
    };
    
    p.translate(0, 400);
    
    drawRect(100, 100, .6, 0);
    drawRect(200, 200, .1, .5);
    drawRect(300, 100, .9, 0);
    drawRect(400, 200, .9, 0);
    
    p.translate(400, 30);
    p.beginText();
    p.fontSize(22);
    p.print('Push and Pop :}');
    p.endText();
                        </div>
                        <h4>Note</h4>
                        <p> PDF (as well as PostScript) allows graphic state to get pushed (save) on
                            to the stack and pop (restore) off the stack to recover to the original
                            configuration.
                        </p>
                    </div>
                    <iframe class="span5" src="./views/exampleview.html"></iframe>
                </div>
            </example>
            
            <example id="Example3" editor-wrap="true" doc-link="#/docs?link=pdfJS.imageXObject.html" editor-theme="'ace/theme/xcode'" editor-mode="'ace/mode/javascript'" title="Adding Graphics"
                editor-id="'editor4'">
                    <div class="row">
                        <div class="span7">
                     <div id="editor4" >
    var doc = new pdfJS.doc('letter', 'portrait');
    var p = doc.addPage();
    
    var imgXObj = doc.newImage('./img/sample.jpg', true);
    p.addImage(imgXObj, 60, 300, 500, 200);
    
    p.translate(400, 475);
    p.beginText();
    p.fontSize(15);
    p.print('Miyajima, Japan');
    p.endText();
                    </div>
                    <h4>Note</h4>
                            <p>PdfJS uses HTML5 canvas internally to support different kinds of image format.
                                The <code>newImage</code> function accepts a <code>string</code> url to an image,
                                 <code>HTMLImageElement</code>, or <code>HTMLCavasElement</code> as graphics to render. 
                    </p>
                            </div>
                    <iframe class="span5" src="./views/exampleview.html"></iframe>
                        </div>
                </example>
        </div>
    </div>
</div>
