<div class="container">
    <div class="row">
        <div class="span12">
            <h3>Author</h3>
            <ul><li>Trinh Ho</li></ul>
            <h3>Browser Compatibility</h3>
            <table class="table table-bordered table-striped com-color">
            <thead>
              <tr>
                <th>Feature</th>
                <th>Chrome<small>v25+</small></th>
                <th>FireFox <small>v18+</small></th>
                <th>IE<small>IE 9+</small></th>
                <th>IE<small>IE 8- </small></th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th><code>Add Image</code></th>
                <td class="supported">Yes</td>
                <td class="supported">Yes</td>
                <td class="supported">Yes</td>
                <td class="not-tested">Not Tested</td>
              </tr>
              <tr>
                <th><code>Add Image w/ Crossorigin</code></th>
                <td class="supported">Yes</td>
                <td class="supported">Yes</td>
                <td class="not-supported">No</td>
                <td class="not-supported">No</td>
              </tr>
            </tbody>
          </table>
            <h3>Roadmap</h3>
            <ul>
                <li>
                    <b>Version: 0.1.0</b>
                    <ul>
                        <li>
                            Reusable elements.
                        </li>
                        <li>
                            Reusable Templated elements (e.g header/footer).
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
